/*ESTILOS GLOBALES*/

.h600{
    height:600px
}

/*FIN ESTILOS GLOBALES*/



/*TRADUCTOR GOOGLE*/

.switcher.notranslate .option{
    
position: absolute!important;
    background: white!important;
    border: none!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
    overflow-y: hidden!important;
    margin-top: 7px!important;
}


.switcher {
    width:auto!important;
    margin-left: 11px;
}

.switcher .selected {
    background: none!important;
}

.switcher .selected a {
    color: #6c69be!important;
    border: 0px!important;
    font-family: 'Source Sans Pro', sans-serif!important;
    width:auto!important;
    
}


.switcher .selected a:hover {
    color:#60c2a4!important;
      background: white url(//informatica.ieszaidinvergeles.org:9038/wordpress/wp-content/plugins/gtranslate/arrow_down.png) 146px center no-repeat!important;
    
}


.switcher .option a {
    color: #000;
    padding: 7px 10px;
}



.switcher .option a:hover {
    background: #6c69be!important;
    color: white!important;
}




/*FIN TRADUCTOR GOOGLE*/