
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700%7CSource+Sans+Pro:300i,400,400i,600,700");
@import url(css/bootstrap.min.css);
@import url(css/font-awesome.min.css);
@import url(plugins/swiper/swiper.min.css);
@import url(plugins/magnific-popup/magnific-popup.min.css);
@import url(css/style.css);
@import url(css/responsive.css);

@import url(css/custom.css);
@import url(css/styleInfoWifi.css);

